@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overscroll-behavior: none;
    width: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
}